<!-- <div class="container marketing" *ngIf="evacs">
    <h2 class="text-center">All Evacuation Areas</h2>
    <div class="row">
        <div class="col-lg-4" *ngFor="let evac of evacs" [routerLink]="['/evacDetail', evac._id]">
          <img class="rounded-circle" src="" alt="Generic placeholder image" width="140" height="140">
          <h2>{{evac.name}}</h2>
          <h4>{{evac.location}}</h4>
          <h5>{{evac.availability}}</h5>
          <p>{{evac.description}}</p>
          <p><a class="btn btn-secondary" role="button">Add to cart &raquo;</a></p>
        </div>
      </div>
</div> -->

<div class="album py-5" *ngIf="evacs">
  <div class="container">
    <h2 class="pb-5">All Available Evacuation Areas</h2>

    <div class="row">
      <div class="col-md-4" *ngFor="let evac of evacs" [routerLink]="['/evacDetail', evac._id]">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" width="100%" height="225" src="https://images.unsplash.com/photo-1543788303-c15e49305bc6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1189&q=80">
          <div class="card-body">
            <h2>{{evac.name}}</h2>
            <h4>{{evac.availability}}</h4>
            <h6>{{evac.location}}</h6>
            <p class="card-text">{{evac.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="bg-light">
  <div class="container">
    <h3>Ligtas PH</h3>
    <h5>Subscribe to us via SMS</h5>
    <p>
      Text <b>INFO</b> to 21587354 for Globe Subscribers and 2256557354 for Other Networks.
    </p>
  </div>
</footer>