<div class="album py-5">
    <div class="container">
        <div class="float-left">
            <h4 class="pb-3">Enter message to the subscribers.</h4>
            <p style="width: 30rem;"><input type="text" class="form-control" (keyup)=getVal($event)></p>
            <p><button class="btn btn-primary" role="button" (click)="sendMsg()">Send</button></p>
        </div>
        <div class="float-right">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Evacuation Centers</h5>
                    <hr>
                    <h6 class="card-subtitle mb-2">Pasig Centre</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Details</a>
                    <a href="#" class="card-link">Another link</a>
                    <p></p>
                    <h6 class="card-subtitle mb-2">Marcel Covered Court, Barangay Pasong Tamo</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Details</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>    
</div>