<div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Pasig Centre</h1>
      <p class="lead" style="width:700px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sapien orci, sit amet pretium mi lacinia ac. Curabitur semper.</p>
      <button class="btn btn-primary" (click)="goBack()">BACK</button>
    </div>    

  </div>

  <footer>
    <div class="container">
      <h5>Subscribe to Ligtas PH via SMS</h5>
      <p>
        Text <b>INFO</b> to 21587354 for Globe Subscribers and 2256557354 for Other Networks.
      </p>
    </div>
  </footer>
