<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>LIGTAS PH</h1>
      <p class="lead text-muted">A web based messaging service dedicated in informing our users of available evacuation areas in times of calamity.</p>
    </div>
  </section>

<div class="album py-5 bg-light" *ngIf="evacs">
  <div class="container">
    <h2 class="text-center pb-5">Available Evacuation Areas</h2>

    <div class="row">
      <div class="col-md-4" *ngFor="let evac of evacs" [routerLink]="['/evacDetail', evac._id]">
        <div class="card mb-4 shadow-sm">
          <img class="card-img-top" width="100%" height="225" src="https://images.unsplash.com/photo-1543788303-c15e49305bc6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1189&q=80">
          <div class="card-body">
            <h3>{{evac.name}}</h3>
            <h4>{{evac.availability}}</h4>
            <h6>{{evac.location}}</h6>
            <p class="card-text">{{evac.description}}</p>
          </div>
        </div>
      </div>     
    </div>

    <hr>
    <div class="d-flex justify-content-center">
      <div class="container">   
      <div class="row mt-5">    
        <div class="col-3 text-center p-3">
          <div id="image">
            <img class="rounded-circle" src="https://i.imgur.com/M86T3pl.jpg" width="150px">
          </div>
          <div class="p-3" id="text">
            <h6>Miguel Aquino</h6>
            Lead Developer
          </div>
        </div>
        <div class="col-3 text-center p-3">
          <div id="image">
            <img class="rounded-circle" src="https://i.imgur.com/pzEaO0K.jpg" width="150px">
          </div>
          <div class="p-3" id="text">
            <h6>Carl Dagañgon</h6>
            Designer
          </div>
        </div>
        <div class="col-3 text-center p-3">
          <div id="image">
            <img class="rounded-circle" src="https://i.imgur.com/VMVgXF8.jpg" width="150px">
          </div>
          <div class="p-3" id="text">
            <h6>Louisse Evale</h6>
            Front End Developer
          </div>
        </div>
        <div class="col-3 text-center p-3">
          <div id="image">
            <img class="rounded-circle" src="https://i.imgur.com/mWcbiAt.jpg" width="150px">
          </div>
          <div class="p-3" id="text">
            <h6>Allen Nidoy</h6>
            Back End Developer
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<footer class="pt-5 pb-5">
  <div class="container">
    
    <div class="float-left">
      <h3>Ligtas PH</h3>
      <h5>Subscribe to us via SMS</h5>
      <p>
        Text <b>INFO</b> to 21587354 for Globe Subscribers and 2256557354 for Other Networks.
      </p>
    </div>

    <div class="float-right">
      <fa-icon [icon]="faFacebook"></fa-icon> &nbsp;&nbsp;
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
  </div>
</footer>
